<footer>
    <p>
    The information on this page should be distributed freely and must be used
    for educational purposes only. While this website is wholly the creation of
    Marcus Bartlett, all content is from Professor Juhau Hu's TCSS 422
    class at University of Washington Tacoma during the quarter of Spring 2022.
    Some course content is therefore adapted from the course textbook
    <a href="https://pages.cs.wisc.edu/~remzi/OSTEP/">Operating Systems: Three
        Easy Pieces
    </a> by Remzi and Andrea Arpaci-Dusseau
    The header image was created by
    <a href="https://unsplash.com/photos/jXd2FSvcRr8">Umberto</a>. Anything that
    appears in quotation marks without citations is taken from Juhua's
    lecture slides. Please do not send the copyright police after me.
    </p>
    <p>
        If you see any problem with this website, please email me at
        <a href="mailto:mabartlett@hotmail.com">mabartlett@hotmail.com</a>.
    </p>
</footer>
