@import "monokai.css";

$background-color: #101010;
$accent-color: #00ff00;
$secondary-color: #00a000;
$border-color: #404040;
$code-color: #505050;
$accessibility-color: #8080ff;

body {
    background-color: $background-color;
    color: #ffffff;
}

pre {
    border-color: $secondary-color;
}

strong {
    color: $accent-color;
}

p code,
li code {
    background-color: $code-color;
    border-color: $border-color;
}

a:focus {
    outline: dashed 2px #0000ff;
}

.l-flex-container {
    background-color: #202020;
}

.l-small-column {
    background-color: #282828;
    border-color: $border-color;
}

.l-large-column {
    border-color: $border-color;
}

main h1 {

}

header {
    background-image: url("Banner.png");
    border-color: $border-color;
}

header h1 {
    color: $accent-color;
    text-shadow: 0 0 5px #000000;
}

nav li a {
    border-top-color: #404040;
    border-bottom-color: #202020;
    background-color: #303030;
}

nav li a:hover {
    background-color: #383838;
    text-decoration: underline;
}

.back-to-top {
    background-color: #383838;
    color: #ffffff;
    border: 1px solid $border-color;
    border-right: 0;
}

footer {
    border-color: $border-color;
    color: #d0d0d0;
}
