@import "reset.css";

html {
    font-size: 18px;
}

body {
    font-family: "arial", sans-serif;
}

pre {
    font-family: "consolas", "dejavu sans mono", monospace;
    margin: 1rem 0;
    padding: 1rem;
    border-bottom: 1px solid;
    word-wrap: break-word;
    white-space: pre-wrap;
}

code {
    font-size: 0.85rem;
    font-family: "consolas", "dejavu sans mono", monospace;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

h3 {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 1.25rem 0;
}

h4, h5, h6 {
    font-weight: bold;
    font-size: 1.125rem;
    margin: 1.125rem 0;
}

p + p,
p + ul,
p + ol,
p + dl,
p + pre,
ol + p,
ul + p,
pre + p {
    margin-top: 1.5rem;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    color: inherit;
    text-decoration: none;
}

.l-flex-container {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box
}

.l-small-column {
    width: 320px;
    flex-shrink: 0;
    box-sizing: border-box;
    border-left: 1px solid;
    border-right: 1px solid;
}

.l-large-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-right: 1px solid;
    min-height: 100vh;
}

nav {

}

nav ul {

}

nav li a {
    text-align: center;
    display: block;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

header {
    padding: 2rem;
    border-bottom: 1px solid;
}

header h1 {
    font-weight: normal;
    font-family: "courier new", monospace;
    margin: 0;
}

main {
    padding: 2rem;
    flex-grow: 1;
}

main a {
    text-decoration: underline;
}

main a:hover {
    text-decoration: none;
}

main h1 {

}

main h2:not(:first-of-type) {
    margin-top: 5rem;
}

main h3:not(:first-of-type) {
    margin-top: 2rem;
}

main p,
main li {
    text-align: justify;
    hyphens: auto;
    line-height: 1.6rem;
}

main ul {
    list-style-type: disc;
}

main ol {
    list-style-type: decimal;
}

main li {
    list-style-position: outside;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

p code,
li code {
    padding: 0.15rem;
    border-radius: 3px;
    border: 1px solid;
}

footer {
    font-size: 0.8rem;
    line-height: 0.9rem;
    padding: 2rem;
    border-top: 1px solid;
    margin-top: 2rem;
}

footer a {
    text-decoration: underline;
}


@media screen and (max-width: 900px) {
    html {
        font-size: 18px;
    }

    .l-flex-container {
        flex-wrap: wrap;
    }

    .l-small-column {
        width: 100%;
        flex-shrink: 0;
        box-sizing: border-box;
        border-left: 0;
        border-right: 0;
    }

    .l-large-column {
        border-right: 0;
        min-height: 100vh;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 16px;
    }

    main {
        padding: 1rem;
    }

    footer {
        padding: 1rem;
    }
}
